@value primery-text-color from '../../vars.module.css';

.notification {
  line-height: 1.5;
  padding: 10px 20px;
  color: primery-text-color;
}

.error {
  composes: notification;
  color: white;
  background-color: red;
}

.success {
  composes: notification;
  color: white;
  background-color: green;
}
